.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
}
.form-control {
  margin: 1rem 0;
}
.form-control label,
.form-control input {
  display: block;
}
.form-control input {
  border: 1px solid yellowgreen;
  width: 100%;
  font: inherit;
  border-radius: 2px;
}
button {
  font: inherit;
  color: #018170;
  border: 1px solid yellowgreen;
  background-color: white;
  border-radius: 3px;
  cursor: pointer;
}
button:hover,
button:active {
  background-color: yellowgreen;
  color: white;
}
